- comment = @blog.comments.build
= form_for comment do |f|
  %div.large-11
    %div.row
      %div.large-1.columns
        = f.label :use_rname, "用户名", class: "inline left"
      %div.large-5.columns
        = f.text_field :user_name, class: "required left"
      %div.large-1.columns
        = f.label :email, "Email", class: "inline left"
      %div.large-5.columns
        = f.text_field :email, class: "required"
        = f.hidden_field :blog_id, value: @blog.id
  %div.large-11
    %div.row
      %div.large-1.columns
        = f.label :comment, "评论", class: "inline left"
      %div.large-11.columns
        = f.text_area :comment, class: "left required"
  = f.submit "评论", class: "button small right comment_submit"