%tr
  %td
    = link_to blog.title, blog_path(blog)
    %span.right
      = "浏览数: #{blog.view_count}"
      = "评论数: #{blog.comment_count}"
    %div.created_at
      = "创建于:"
      = format_date_time blog.created_at
