= form_for [:admin, @blog] do |f|
  %div.row
    %div.large-12
      %div.row
        %div.columns.large-1
          = f.label :title, "标题", class: "right inline required"
        %div.columns.large-8.left
          = f.text_field :title
    - if @blog.id.nil?
      %div.large-12
        %div.row
          %div.columns.large-1
            = f.label :title, "文章模板", class: "right inline required"
          %div.columns.large-2.left
            = f.select :blog_template_id, @blog_templates.map{|x|[x.title, x.id]}
    %div.large-12
      %div.row
        %div.columns.large-1
          = f.label :title, "文章板块", class: "right inline required"
        %div.columns.large-2.left
          = f.select :blog_cat_id, @blog_cats.map{|x|[x.title, x.id]}
    %div.large-12.content_div
      %div.row
        %div.columns.large-1
          = f.label :content, "文章内容", class: "right inline"
        %div.columns.large-10.left.blog_content
          %dl.sub-nav.editor_nav
            %dd.active
              = link_to "编辑", "javascript:void(0)", id: "blog_edit"
            %dd
              = link_to "预览", "javascript:void(0)", id: "blog_preview"
          = f.text_area :content
        %div.columns.large-10.left.blog_preview.hide

  %div.row
    .div.large-6
      = f.submit '保存文章', class: "button small radius"